.name-head{
    background-color:none;
    color:orange;
    text-align: center;
    font-size: 50px;
    margin-top: 80px;
}
body{
    background-color: white;
    margin: 5px;
    padding: 5px;
}

.about-me{
    padding: 24px;
    font-size: 24px;
    background-color:rgb(109, 8, 8);
    color: aliceblue;
    width:50%;
    margin-left:50%
}
.sub-head{
    text-align: center;
    color: black;
}
.education{
    background-color: brown;
    color: whitesmoke;
    padding: 10px;
    margin: 10px;
}
.latest-skills{
    background-image: url(../images/rest.jpg);
    color: whitesmoke;
    padding: 10px;
    margin: 10px;
    
}
.contact{
    background-image: url(../images/Contact.png);
    /* background-color: #Ccc; */
    color: black;
    padding: 10px;
    margin: 10px;
}
.skills{
    background-color: black;
    padding: 10px;
    margin: 10px;
    padding-bottom: 25px;
}


.wrapped{
    background-image: url(../images/raice.jpg);
    background-repeat: no-repeat;
    width:100%;
    height: 700px;
    box-sizing:border-box;
    margin-right: 0;

   

}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
    box-sizing: border-box;
    height: 80px;
    font-size: 20px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    margin-top: 30px; 
}
.language{
    width: 17%;
    height: 17%;
    margin-left: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
li{
    font-size: 24px;
    text-decoration: none;
    margin: 2px;
    padding: 2px;
    list-style-type:none;
}
img{
    border-radius: 50%;
}